In [ ]:
%pip install mysql-connector-python

In [8]:
import mysql.connector
import pandas as pd

In [9]:
config = {
    'user' : 'test',
    'password' : 'a',
    'host' : 'localhost',
    'database' : 'test'
}

# データベースへの接続
try:
    cnx = mysql.connector.connect(**config)
    print("データベースに接続しました。")
except mysql.connector.Error as err:
    print(f"接続エラー: {err}")

データベースに接続しました。

In [ ]:
cursor = cnx.cursor()
query = ("SELECT * FROM users WHERE id = 1;")
cursor.execute(query)

for row in cursor:
    print(row)

cursor.close()

閲覧

In [16]:
cursor = cnx.cursor()
# query = ("SELECT email FROM users")
query = ("SELECT * FROM users")
cursor.execute(query)

a = []

for row in cursor:
    print(row)
    a.append(str(row))

cursor.close()
print(a)

(1, 'test_UPDATE', 'test@test.com')
(2, 'test', 'test@test.com')
(3, 'aaaa', 'test@test.com')
(4, 'bbbbb', 'test@test.com')
["(1, 'test_UPDATE', 'test@test.com')", "(2, 'test', 'test@test.com')", "(3, 'aaaa', 'test@test.com')", "(4, 'bbbbb', 'test@test.com')"]

追加

In [14]:
cursor = cnx.cursor()
query = ("INSERT INTO users (name, email) VALUES (%s, %s)")
values = ("bbbbb", "test@test.com")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

update

In [7]:
cursor = cnx.cursor()
query = ("UPDATE users SET name = %s WHERE id = %s")
values = ("test_UPDATE", "1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

delete

In [ ]:
cursor = cnx.cursor()
query = ("DELETE FROM test WHERE id = %s")
values = ("1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

In [ ]:
import requests

res = requests.post("http://127.0.0.1:8080", data="aaaaaaaaaa")
print(res)
print(res.text)

In [19]:
import requests
import pandas as pd

def test_echo():
    url = "http://127.0.0.1:8080/"
    data = "Hello, server!"
    response = requests.post(url, data=data)
    print("Echo response:", response.text)

def test_create_user():
    url = "http://127.0.0.1:8080/users"
    user_data = {
        "name": "testCreate",
        "email": "tetete@test.com"
    }
    response = requests.post(url, json=user_data)
    print("Create user status:", response.status_code)

def get_users_table():
    url = "http://127.0.0.1:8080/users"
    response = requests.get(url)
    users_list = response.json()

    # JSONデータをDataFrameに変換
    df = pd.DataFrame(users_list)
    
    # テーブル形式で表示
    print(df)
    
def update_user_name():
    url = "http://127.0.0.1:8080/update"
    update_data = {
        "column": "name",
        "data": "updated",
        "update_id": "3"
    }
    print(requests.post(url, json=update_data).status_code)
    
def update_user_email():
    url = "http://127.0.0.1:8080/update"
    update_data = {
        "column": "email",
        "data": "updated@updated.com",
        "update_id": "3"
    }
    print(requests.post(url, json=update_data).status_code)
    
def delete_user():
    url = "http://127.0.0.1:8080/delete"
    update_data = {
        "id": "6"
    }
    
    res = requests.post(url, json=update_data)
    print(res.status_code)
    print(res.text)

if __name__ == "__main__":
    test_echo()
    test_create_user()
    get_users_table()
    update_user_name()
    get_users_table()
    update_user_email()
    get_users_table()
    delete_user()
    get_users_table()

Echo response: Hello, server!
Create user status: 201
   id        name                email
0   1     updated  updated@updated.com
1   2        test        test@test.com
2   3        aaaa        test@test.com
3   4       bbbbb        test@test.com
4   5  testCreate      tetete@test.com
5   6  testCreate      tetete@test.com
6   7  testCreate      tetete@test.com
201
   id        name                email
0   1     updated  updated@updated.com
1   2        test        test@test.com
2   3     updated        test@test.com
3   4       bbbbb        test@test.com
4   5  testCreate      tetete@test.com
5   6  testCreate      tetete@test.com
6   7  testCreate      tetete@test.com
201
   id        name                email
0   1     updated  updated@updated.com
1   2        test        test@test.com
2   3     updated  updated@updated.com
3   4       bbbbb        test@test.com
4   5  testCreate      tetete@test.com
5   6  testCreate      tetete@test.com
6   7  testCreate      tetete@test.com
200
User deleted successfully
   id        name                email
0   1     updated  updated@updated.com
1   2        test        test@test.com
2   3     updated  updated@updated.com
3   4       bbbbb        test@test.com
4   5  testCreate      tetete@test.com
5   7  testCreate      tetete@test.com