In [ ]:
%pip install mysql-connector-python

In [1]:
import mysql.connector
import pandas as pd

In [10]:
config = {
    'user' : 'test',
    'password' : 'a',
    'host' : 'localhost',
    'database' : 'test'
}

db = "users"

# データベースへの接続
try:
    cnx = mysql.connector.connect(**config)
    print("データベースに接続しました。")
except mysql.connector.Error as err:
    print(f"接続エラー: {err}")

データベースに接続しました。

In [4]:
config = {
    'user' : 'for_api',
    'password' : 'for_api',
    'host' : 'localhost',
    'database' : 'for_api'
}

db = "test"

# データベースへの接続
try:
    cnx = mysql.connector.connect(**config)
    print("データベースに接続しました。")
except mysql.connector.Error as err:
    print(f"接続エラー: {err}")

データベースに接続しました。

In [6]:
cursor = cnx.cursor()
query = (f"SELECT id, name as value FROM {db};")
cursor.execute(query)

for row in cursor:
    print(row)

cursor.close()

(1, 'test_UPDATE')
(2, 'Alice')
(3, 'test')
(5, 'Jane Doe')
(6, 'testCreate')
(7, 'John Doe')
(8, 'John Doe')

True

閲覧

In [12]:
cursor = cnx.cursor()
# query = ("SELECT email FROM users")
query = (f"SELECT * FROM {db}")
cursor.execute(query)

a = []

for row in cursor:
    print(row)
    a.append(str(row))

cursor.close()
print(a)

(1, 'updated', 'updated@updated.com')
(2, 'test', 'test@test.com')
(3, 'updated', 'updated@updated.com')
(4, 'bbbbb', 'test@test.com')
(5, 'testCreate', 'tetete@test.com')
(7, 'testCreate', 'tetete@test.com')
(8, 'testCreate', 'tetete@test.com')
["(1, 'updated', 'updated@updated.com')", "(2, 'test', 'test@test.com')", "(3, 'updated', 'updated@updated.com')", "(4, 'bbbbb', 'test@test.com')", "(5, 'testCreate', 'tetete@test.com')", "(7, 'testCreate', 'tetete@test.com')", "(8, 'testCreate', 'tetete@test.com')"]

追加

In [13]:
cursor = cnx.cursor()
query = (f"INSERT INTO {db} (name, email) VALUES (%s, %s)")
values = ("bbbbb", "test@test.com")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

update

In [7]:
cursor = cnx.cursor()
query = ("UPDATE users SET name = %s WHERE id = %s")
values = ("test_UPDATE", "1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

delete

In [ ]:
cursor = cnx.cursor()
query = ("DELETE FROM test WHERE id = %s")
values = ("1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

In [ ]:
import requests

res = requests.post("http://127.0.0.1:8080", data="aaaaaaaaaa")
print(res)
print(res.text)

In [20]:
import requests

# APIサーバーのURL
BASE_URL = 'http://127.0.0.1:8080'

dbname = "test"

def test_echo():
    print("Testing ECHO...")
    response = requests.post(f"{BASE_URL}/", data="Hello, Server!")
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def test_create_user():
    print("Testing CREATE USER...")
    user_data = {
        "table": dbname,
        "name": "John Doe",
        "email": "john@example.com"
    }
    response = requests.post(f"{BASE_URL}/users", json=user_data)
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def test_get_users():
    print("Testing GET USERS...")
    query_data = {
        "table": dbname,
        "columns": ["id", "name", "email"]
    }
    response = requests.get(f"{BASE_URL}/users", json=query_data)
    print("Status Code:", response.status_code)
    users_list = response.json()

    # JSONデータをDataFrameに変換
    df = pd.DataFrame(users_list)
    
    # テーブル形式で表示
    print(df)

def test_get_column():
    print("Testing GET COLUMN...")
    query_data = {
        "table": dbname,
        "column": "name"
    }
    response = requests.get(f"{BASE_URL}/column", json=query_data)
    print("Status Code:", response.status_code)
    users_list = response.json()
    print(users_list)
    
    # JSONデータをDataFrameに変換
    df = pd.DataFrame(users_list)  # 単一の辞書をリストに入れています。
    
    # テーブル形式で表示
    print(df)

def test_update_user():
    print("Testing UPDATE USER...")
    update_data = {
        "table": dbname,
        "column": "name",
        "data": "Jane Doe",
        "update_id": "5"  # Assume this user ID exists
    }
    response = requests.post(f"{BASE_URL}/update", json=update_data)
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def test_delete_user():
    print("Testing DELETE USER...")
    delete_data = {
        "table": dbname,
        "id": "4"  # Assume this user ID exists
    }
    response = requests.delete(f"{BASE_URL}/delete", json=delete_data)
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def run_tests():
    test_echo()
    test_create_user()
    test_get_users()
    test_get_column()
    # test_update_user()
    # test_get_users()
    # test_delete_user()
    # test_get_users()

if __name__ == "__main__":
    run_tests()

Testing ECHO...
Status Code: 200
Response: Hello, Server!

Testing CREATE USER...
Status Code: 201
Response:

Testing GET USERS...
Status Code: 200
    id         name                email
0    1  test_UPDATE        test@test.com
1    2        Alice    alice@example.com
2    3         test        test@test.com
3    5     Jane Doe  johndoe@example.com
4    6   testCreate      tetete@test.com
5    7     John Doe     john@example.com
6    8     John Doe     john@example.com
7    9     John Doe     john@example.com
8   10     John Doe     john@example.com
9   11     John Doe     john@example.com
10  12     John Doe     john@example.com
11  13     John Doe     john@example.com
12  14     John Doe     john@example.com
13  15     John Doe     john@example.com
14  16     John Doe     john@example.com
15  17     John Doe     john@example.com
16  18     John Doe     john@example.com
17  19     John Doe     john@example.com
18  20     John Doe     john@example.com
Testing GET COLUMN...
Status Code: 200
[{'id': 1, 'data': 'test_UPDATE'}, {'id': 2, 'data': 'Alice'}, {'id': 3, 'data': 'test'}, {'id': 5, 'data': 'Jane Doe'}, {'id': 6, 'data': 'testCreate'}, {'id': 7, 'data': 'John Doe'}, {'id': 8, 'data': 'John Doe'}, {'id': 9, 'data': 'John Doe'}, {'id': 10, 'data': 'John Doe'}, {'id': 11, 'data': 'John Doe'}, {'id': 12, 'data': 'John Doe'}, {'id': 13, 'data': 'John Doe'}, {'id': 14, 'data': 'John Doe'}, {'id': 15, 'data': 'John Doe'}, {'id': 16, 'data': 'John Doe'}, {'id': 17, 'data': 'John Doe'}, {'id': 18, 'data': 'John Doe'}, {'id': 19, 'data': 'John Doe'}, {'id': 20, 'data': 'John Doe'}]
    id         data
0    1  test_UPDATE
1    2        Alice
2    3         test
3    5     Jane Doe
4    6   testCreate
5    7     John Doe
6    8     John Doe
7    9     John Doe
8   10     John Doe
9   11     John Doe
10  12     John Doe
11  13     John Doe
12  14     John Doe
13  15     John Doe
14  16     John Doe
15  17     John Doe
16  18     John Doe
17  19     John Doe
18  20     John Doe