In [ ]:
%pip install mysql-connector-python

In [29]:
import mysql.connector
import pandas as pd

In [31]:
config = {
    'user' : 'test',
    'password' : 'a',
    'host' : 'localhost',
    'database' : 'test'
}

db = "users"

# データベースへの接続
try:
    cnx = mysql.connector.connect(**config)
    print("データベースに接続しました。")
except mysql.connector.Error as err:
    print(f"接続エラー: {err}")

データベースに接続しました。

In [4]:
config = {
    'user' : 'for_api',
    'password' : 'for_api',
    'host' : 'localhost',
    'database' : 'for_api'
}

db = "test"

# データベースへの接続
try:
    cnx = mysql.connector.connect(**config)
    print("データベースに接続しました。")
except mysql.connector.Error as err:
    print(f"接続エラー: {err}")

データベースに接続しました。

In [19]:
cursor = cnx.cursor()
query = (f"SELECT id, name as value, email as value FROM {db};")
cursor.execute(query)

for row in cursor:
    print(row)

cursor.close()

(2, 'test', 'test@test.com')
(4, 'bbbbb', 'test@test.com')
(5, 'testCreate', 'tetete@test.com')
(7, 'testCreate', 'tetete@test.com')
(8, 'testCreate', 'tetete@test.com')
(9, 'bbbbb', 'test@test.com')
(10, 'testCreate', 'tetete@test.com')
(11, 'testCreate', 'tetete@test.com')
(12, 'testCreate', 'tetete@test.com')
(13, 'testCreate', 'tetete@test.com')
(14, 'testCreate', 'tetete@test.com')
(15, 'John Doe', 'john@example.com')
(16, 'testCreate', 'tetete@test.com')
(17, 'John Doe', 'john@example.com')
(18, 'John Doe', 'john@example.com')
(19, 'John Doe', 'john@example.com')

True

閲覧

In [12]:
cursor = cnx.cursor()
# query = ("SELECT email FROM users")
query = (f"SELECT * FROM {db}")
cursor.execute(query)

a = []

for row in cursor:
    print(row)
    a.append(str(row))

cursor.close()
print(a)

(1, 'updated', 'updated@updated.com')
(2, 'test', 'test@test.com')
(3, 'updated', 'updated@updated.com')
(4, 'bbbbb', 'test@test.com')
(5, 'testCreate', 'tetete@test.com')
(7, 'testCreate', 'tetete@test.com')
(8, 'testCreate', 'tetete@test.com')
["(1, 'updated', 'updated@updated.com')", "(2, 'test', 'test@test.com')", "(3, 'updated', 'updated@updated.com')", "(4, 'bbbbb', 'test@test.com')", "(5, 'testCreate', 'tetete@test.com')", "(7, 'testCreate', 'tetete@test.com')", "(8, 'testCreate', 'tetete@test.com')"]

追加

In [13]:
cursor = cnx.cursor()
query = (f"INSERT INTO {db} (name, email) VALUES (%s, %s)")
values = ("bbbbb", "test@test.com")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

update

In [7]:
cursor = cnx.cursor()
query = ("UPDATE users SET name = %s WHERE id = %s")
values = ("test_UPDATE", "1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

delete

In [ ]:
cursor = cnx.cursor()
query = ("DELETE FROM test WHERE id = %s")
values = ("1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

In [ ]:
import requests

res = requests.post("http://127.0.0.1:8080", data="aaaaaaaaaa")
print(res)
print(res.text)

In [32]:
import requests

# APIサーバーのURL
BASE_URL = 'http://127.0.0.1:8080'

dbname = "users"

def test_echo():
    print("Testing ECHO...")
    response = requests.post(f"{BASE_URL}/", data="Hello, Server!")
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def test_create_user():
    print("Testing CREATE USER...")
    user_data = {
        "table": dbname,
        "name": "John Doe",
        "email": "john@example.com"
    }
    response = requests.post(f"{BASE_URL}/users", json=user_data)
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def test_get_users():
    print("Testing GET USERS...")
    query_data = {
        "table": dbname,
        "columns": ["id", "name", "email"]
    }
    response = requests.get(f"{BASE_URL}/users", json=query_data)
    print("Status Code:", response.status_code)
    users_list = response.json()

    # JSONデータをDataFrameに変換
    df = pd.DataFrame(users_list)
    
    # テーブル形式で表示
    print(df)

def test_get_column():
    print("Testing GET COLUMN...")
    query_data = {
        "table": dbname,
        "column": "name"
    }
    response = requests.get(f"{BASE_URL}/column", json=query_data)
    print("Status Code:", response.status_code)
    users_list = response.json()
    print(users_list)
    
    # JSONデータをDataFrameに変換
    df = pd.DataFrame(users_list)  # 単一の辞書をリストに入れています。
    
    # テーブル形式で表示
    print(df)

def test_update_user():
    print("Testing UPDATE USER...")
    update_data = {
        "table": dbname,
        "column": "name",
        "data": "Jane Doe",
        "update_id": "5"  # Assume this user ID exists
    }
    response = requests.post(f"{BASE_URL}/update", json=update_data)
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def test_delete_user():
    print("Testing DELETE USER...")
    delete_data = {
        "table": dbname,
        "id": "18"  # Assume this user ID exists
    }
    response = requests.delete(f"{BASE_URL}/delete", json=delete_data)
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

def run_tests():
    # test_echo()
    # test_create_user()
    # test_get_users()
    # test_get_column()
    # test_update_user()
    # test_get_users()
    # test_delete_user()
    test_get_users()

if __name__ == "__main__":
    run_tests()

Testing GET USERS...
Status Code: 200
    id        name             email
0    2        test     test@test.com
1    4       bbbbb     test@test.com
2    5  testCreate   tetete@test.com
3    7  testCreate   tetete@test.com
4    8  testCreate   tetete@test.com
5    9       bbbbb     test@test.com
6   10  testCreate   tetete@test.com
7   11  testCreate   tetete@test.com
8   12  testCreate   tetete@test.com
9   13  testCreate   tetete@test.com
10  14  testCreate   tetete@test.com
11  15    John Doe  john@example.com
12  16  testCreate   tetete@test.com
13  17    John Doe  john@example.com
14  19    John Doe  john@example.com

In [34]:
def create_table(table_name):
    response = requests.post(f"{BASE_URL}/create", json={"table_name" : table_name})
    print("Status Code:", response.status_code)
    print("Response:", response.text)
    print()

if __name__ == "__main__":
    create_table("user2")

Status Code: 201
Response: Table 'user2' created successfully