In [4]:
%pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-8.3.0-cp311-cp311-manylinux_2_17_x86_64.whl.metadata (1.9 kB)
Using cached mysql_connector_python-8.3.0-cp311-cp311-manylinux_2_17_x86_64.whl (21.5 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector
import pandas as pd

In [2]:
config = {
    'user' : 'test',
    'password' : 'a',
    'host' : 'localhost',
    'database' : 'test'
}

# データベースへの接続
try:
    cnx = mysql.connector.connect(**config)
    print("データベースに接続しました。")
except mysql.connector.Error as err:
    print(f"接続エラー: {err}")

データベースに接続しました。

In [17]:
cursor = cnx.cursor()
query = ("SELECT * FROM users WHERE id = 1;")
cursor.execute(query)

for row in cursor:
    print(row)

cursor.close()

(1, 'Alice', 'alice@example.com')

True

閲覧

In [7]:
cursor = cnx.cursor()
# query = ("SELECT email FROM users")
query = ("SELECT * FROM test")
cursor.execute(query)

a = []

for row in cursor:
    print(row)
    a.append(str(row))

cursor.close()
print(a)

(1, 'test', 'test@test.com')
["(1, 'test', 'test@test.com')"]

追加

In [14]:
cursor = cnx.cursor()
query = ("INSERT INTO test (name, email) VALUES (%s, %s)")
values = ("test", "test@test.com")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

update

In [16]:
cursor = cnx.cursor()
query = ("UPDATE test SET name = %s WHERE id = %s")
values = ("test_UPDATE", "1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

True

delete

In [ ]:
cursor = cnx.cursor()
query = ("DELETE FROM test WHERE id = %s")
values = ("1")
cursor.execute(query, values)

# 実行した変更をデータベースに反映
cnx.commit()
cursor.close()

In [ ]:
import requests

res = requests.post("http://127.0.0.1:8080", data="aaaaaaaaaa")
print(res)
print(res.text)

In [ ]:
import requests
import pandas as pd

def test_echo():
    url = "http://127.0.0.1:8080/"
    data = "Hello, server!"
    response = requests.post(url, data=data)
    print("Echo response:", response.text)

def test_create_user():
    url = "http://127.0.0.1:8080/users"
    user_data = {
        "name": "testCreate",
        "email": "tetete@test.com"
    }
    response = requests.post(url, json=user_data)
    print("Create user status:", response.status_code)

def get_users_table():
    url = "http://127.0.0.1:8080/users"
    response = requests.get(url)
    users_list = response.json()

    # JSONデータをDataFrameに変換
    df = pd.DataFrame(users_list)
    
    # テーブル形式で表示
    print(df)

if __name__ == "__main__":
    test_echo()
    # test_create_user()
    get_users_table()

Echo response: Hello, server!
Create user status: 201
   id         name                email
0   1  test_UPDATE        test@test.com
1   2        Alice    alice@example.com
2   3         test        test@test.com
3   4     John Doe  johndoe@example.com
4   5     John Doe  johndoe@example.com
5   6   testCreate      tetete@test.com